SOLSCAN_API_KEY=your_solscan_api_key_here
HELIUS_API_KEY=your_helius_api_key_here
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1476298089072562336/Oy1D2KK9PBwlUUkJ23QRRgdJWj4SQXB2nq8Z_Q2YTGbtL9YMbrIBEvbdO9wyd-JRIQC2
